body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff
}

#topRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plantbox {
    /* border-width: 1px;
    border-style: solid;
    border-color: #1a852f; */

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0dedc;
    margin: 20px;
    border-radius: 2px;

    -webkit-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
    box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.1);
}

.svgPlant {
    background-color: #ffffff;
    margin: 10px;
}

.myButton {
    margin:10px;
	background-color:#a5a2a0;
	border-radius:3px;
	border:0px solid #a5a2a0;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 8px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
.myButton:hover {
	background-color:#ab9987;
}

.DNALabel {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.myButton:active {
	position:relative;
	top:1px;
}

#id0 {
    background-color: green;
}

#id1 {
    background-color: red;
}

#id2 {
    background-color: blue;
}

table.cinereousTable {
    margin: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 80%;
    text-align: left;
  }
  table.cinereousTable td {
    text-align: left;
    border-color: teal;
    font-size: 10px;
  }

  table.cinereousTable td.pos {
    color:green;
  }

  table.cinereousTable td.neg {
    color:red;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(31, 31, 31, 0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 380px;
  }
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.geneticTable {
    border:none !important;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

.geneticTable tr { 
    margin:0;
    line-height: 0px; 
}

.geneticSlider { 
    -webkit-appearance: none; 
    background: #91bba8  ; 
    width: 100%; 
    height: 20px; 
    opacity: 2; 
   } 
  
  
.geneticSlider::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    cursor: pointer; 
    background: #315b36  ; 
    width: 10%; 
    height: 20px; 
} 
  
.geneticSlider:hover { 
    opacity: 1; 
} 

footer {
    text-align: center;
    font-size: 10px;
}