body {
    background-color: #abe4f7
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plantbox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 8px;

    -webkit-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.14);
    box-shadow: 6px 6px 6px -1px rgba(0,0,0,0.14);
}

.svgPlant {
    background-color: #e6edf5;
    margin: 10px;
}

.myButton {
    margin:10px;
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:2px 8px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}
.myButton:hover {
	background-color:#5cbf2a;
}

.DNALabel {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.myButton:active {
	position:relative;
	top:1px;
}

#id0 {
    background-color: green;
}

#id1 {
    background-color: red;
}

#id2 {
    background-color: blue;
}

table.cinereousTable {
    margin: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 80%;
    text-align: left;
  }
  table.cinereousTable td, table.cinereousTable th {
    /* border: 1px solid #473F37; */
  }
  table.cinereousTable tbody td {
    font-size: 10px;
  }